{
    "extends": "@react-native-community",
    "rules": {
        "quotes": [2, "double", { "avoidEscape": true}],
         "quotes": [
            2,
            "single",
            {
                "avoidEscape": true
            }
        ],
            "quote-props": [
                "error",
                "as-needed",
                {
                    "keywords": true
                }
            ]
        
        
    }
}